$text_color: var(--font-color);
$text_color_inverse: var(--font-color-inverse);
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$background: var(--background);
$bg_color: var(--bg-color);
$accent: var(--accent);
$text_darken: darken(#fff, 30);
$active: var(--active);
