@import "variables";

.contact {
  .link {
    display: flex;
    margin: 10px 0;
    align-items: center;

    span {
      height: 100% !important;
      display: flex;
      align-items: center;

      &.icon {
        padding: 5px;
        svg {
          width: 20px;
          height: 20px;
          fill: currentColor;
        }
      }
    }
  }
}
