:root {
  --primary-color: #6200ea;
  --secondary-color: #651fff;
  --font-color: #311b92;
  --font-color-inverse: #651fff;
  --background: #fdfdff;
  --accent: #ff4081;
  --active: #ede7f6;
  --bg-color: #ddf;
}

[data-theme="dark"] {
  --font-color: #ead6ff;
  --font-color-inverse: #7878ff;
  --background: #222;
  --bg-color: #111;
}
