@import "variables";

.theme_toggle {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  input#theme_checkbox {
    display: none;
  }

  .toggle {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    background-color: $secondary;
    display: flex;
    align-items: center;

    .theme_title {
      position: absolute;
      top: -20px;
      word-wrap: none;
      width: 55px;
    }

    .toggle_handler {
      display: inline-block;
      position: relative;
      background-color: #ddf;
      z-index: 1;
      width: 25px;
      height: 26px;
      border-radius: 25px;
      transform: translateX(0%);
      transition: background-color, transform 300ms ease-out;
    }

    .theme_change {
      transform: translateX(100%);
    }
  }
  .dark {
    background-color: #666;

    .toggle_handler {
      background-color: $text_darken;
    }
  }
}
